<tr>
  <td rowspan=7 class="day"> <%=h day %></td>
  <td class="time">08:15 - 09:45</td>
</tr>

<tr>
  <td class="time">09:55 - 11:25</td>
</tr>
<tr>
  <td class="time">11:35 - 13:05</td>
</tr>
<tr>
  <td class="time">14:00 - 15:30</td>
</tr>
<tr>
  <td class="time">15:40 - 17:10</td>
</tr>
<tr>
  <td class="time">17:20 - 18:50</td>
</tr>
<tr>
  <td class="time">19:00 - 20:30</td>
</tr>