.update_form{:id => "update_pair_#{@pair.id.to_s}"}
  .flash
    = flash[:error]
  %p{:id => "charge_card_block"}
    = 'Карта нагрузки'
    %br
    %input{:id => "charge_card", :size => 20}
  .subgroups