.update_form{:id => "update_pair_#{@pair.id.to_s}"}
  - remote_form_for(@pair) do |f|
    %p
      = chain_select_ajax(:models => [:faculty, :department, :teaching_place, :charge_card], :prefix => 'pair', :spacer => '<br /><br />')
    = submit_tag 'Сохранить', :id => "save_pair_#{@pair.id.to_s}"