<tr>
  <td class="time" >
    <% id = "container_classroom#{classroom}_week#{week}_day#{day}_pairtime#{sheetpair_counter + 1}" %>
    <div class="receiver" id="<%= id %>">
    </div>
    <%= drop_receiving_element id,
      :url => update_state_pairs_path(:classroom => classroom, :week => week,
        :day => day, :pair_number => sheetpair_counter + 1),
      :accept => 'pair',
      :with => "'pair=' + element.id",
      :hoverclass => 'hovered_receiver'
    %>
  </td>
</tr>