<tr>
  <td class="time" >
    <% id = "container_classroom#{classroom}_week#{week}_day#{day}_pairtime#{sheetpair_counter + 1}" %>
    <div class="receiver" id="<%= id %>">
    </div>
    <%= drop_receiving_element id,
      :url => pair_path(@pair),
      :method => :put,
      :accept => 'pair'
    %>
  </td>
</tr>