  <div class="day"> <%=h week %></div>
  <div class="time">08:15 - 09:45</div>
  <div class="time">09:55 - 11:25</div>
  <div class="time">11:35 - 13:05</div>
  <div class="time">14:00 - 15:30</div>
  <div class="time">15:40 - 17:10</div>
  <div class="time">17:20 - 18:50</div>
  <div class="time">19:00 - 20:30</div>