- remote_form_for(@pair) do |f|
  %p
    = chain_select_ajax(:models => [:faculty, :department], :spacer => '<br />')
  = submit_tag 'Сохранить'
  = link_to 'Отмена', '#', :class => 'lbAction', :rel => 'deactivate'