<div id="timesheet">
  <div class="timecolumn">
    <div class="header">Время</div>
      <%= render :partial => 'week', :collection => @days %>
  </div>
  <div class="sheetcolumn">
    
  </div>
</div>