<body>
  <div id="page">
    <table id="table">
      <tr>
        <th ></th>				<th>Аудитория 1</th><th>Аудитория 2</th><th>Аудитория 3</th><th>Аудитория 4</th><th>Аудитория 5</th><th>Аудитория 6</th><th>Аудитория 7</th><th>Аудитория 8</th>
      </tr>
      <tr>
        <td id="time">08:15 - 09:45</td>	<td><div id="widget_col"></div></td> <td><div id="widget_col"></div> </td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td>
      </tr>
      <tr>
        <td id="time">09:55 - 11:25</td>	<td><div id="widget_col"></div></td> <td><div id="widget_col"></div> </td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td>
      </tr>
      <tr>
        <td id="time">11:35 - 13:05</td>	<td><div id="widget_col"></div></td> <td><div id="widget_col"></div> </td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td>
      </tr>
      <tr>
        <td id="time">14:00 - 15:30</td>	<td><div id="widget_col"></div></td> <td><div id="widget_col"></div> </td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td>
      </tr>
      <tr>
        <td id="time">15:40 - 17:10</td>	<td><div id="widget_col"></div></td> <td><div id="widget_col"></div> </td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td>
      </tr>
      <tr>
        <td id="time">17:20 - 18:50</td>	<td><div id="widget_col"></div></td> <td><div id="widget_col"></div> </td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td><td><div id="widget_col"></div></td>
      </tr>
    </table>
  </div>

  <script type="text/javascript">
     var portal;
     var latin1_1 = "лекция</br>";
     var latin1_2 = "Иванов И.И.</br>";
     var latin1_3 = "Группа 456</br>";

     var latin2_1 = "лекция</br>";
     var latin2_2 = "Иванов И.И.</br>";
     var latin2_3 = "Группа 456</br>";

     function onOverWidget(portal, widget) {
       widget.getElement().insertBefore($('control_buttons'), widget.getElement().firstChild);
       $('control_buttons').show();
     }

     function onOutWidget(portal, widget) {
       $('control_buttons').hide();
     }

     function removeWidget(element) {
       var widget = $(element).up(".widget").widget;

       if (confirm('Are sure to remove this widget?')) {
         document.body.appendChild($('control_buttons').hide())
         portal.remove(widget);
       }
     }

    function onChange() {

    }
     function init() {
       portal = new Xilinus.Portal("#page div", {onOverWidget: onOverWidget, onOutWidget: onOutWidget, onChange: onChange, removeEffect: Effect.SwitchOff});
       // Fake widgets
       portal.add(new Xilinus.Widget().setTitle("Математический анализ").setContent(latin1_1+latin1_2+latin1_3), 0);
       portal.add(new Xilinus.Widget().setTitle("Физика").setContent(latin2_1+latin2_2+latin2_3), 23);
       // Add controls buttons
       portal.addWidgetControls("control_buttons");
     }
     Event.observe(window, "load", init);
  </script>
</body>
 
