!workspace_width = 100%
!times_width = 10%
!days_width = !workspace_width - !times_width
!day_width = 100% / 6
!week_width = 100% / 2
!header_height = 30px
!container_height = 30px

=table_border
  border:
    style: solid
    width: thin

.workspace
  font:
    family: sans-serif
    size: 12px
  width = !workspace_width

.plus
  clear: left

.grid
  background:
    color: #E6F2FF
  clear: both
  margin:
    bottom: 5px
  width: 100%

  table
    width: 100%
    border:
      collapse: collapse
  td
    +table_border
    height = !container_height
  th
    +table_border

.receiver
  height: 100%
  width: 100%

.hovered_receiver
  height: 100%
  width: 100%
  border: dashed #F00

.pair
  cursor: move
  background:
    color: #00ff00
  height: 100%
  width: 100%