!workspace_width = 100%
!times_width = 10%
!days_width = !workspace_width - !times_width
!day_width = 100% / 6
!week_width = 100% / 2
!header_height = 30px
!container_height = 48px

=table_border
  border:
    style: solid
    width: thin

.workspace
  font:
    family: sans-serif
    size: 12px
  width = !workspace_width

.plus
  clear: left

#form
  float: left
  padding: 5px
  border: 1px solid #000000
  background-color: #E6F2FF

.closebutton
  float: right

.grid
  background:
    color: #E6F2FF
  clear: both
  margin:
    bottom: 5px
  width: 100%

  table
    width: 100%
    border:
      collapse: collapse
  td
    +table_border
    height = !container_height
    width: 7.7%
  th
    +table_border

.receiver
  height: 100%
  width: 100%

.hovered_receiver
  background: #F00

.pair
  font:
    family: sans-serif
    size: 11px
  cursor: move
  background:
    color: #F5F9BD
  height: 100%
  width: 100%
  .pair_content
    float: left
  .management_panel
    float: right
    width: 12px
    a
      display: inline-block

.nopair
  background:
    color: #FF0000
  height: 100%
  width: 100%

abbr
  cursor: help

img
  border: none

table
  border-collapse: collapse
  border: 1px solid black

td
  border: 1px solid black

th
  border: 1px solid black