$background_color: #E6E6FA;

.menu {
  width: 100%;
  ul {
    background: {
      color: $background_color;
    }
    height: 46px;
    text-align: center;
  }
  li {
    display: inline;
    list-style-type: none;

    a.red {
      color: #c00;
    }
  }
  a {
    background: {
      color: $background_color;
    }
    color: #555555;
    display: inline-block;
    font: {
      family: sans-serif;
      size: 14px;
      weight: bold;
    }
    padding: 13px 25px;
    text-decoration: none;
    &:hover {
      background: {
        color: $background_color;
      }
      color: #ffff88;
    }
  }
}