$numpad_width: 340px;
$element_base_margin: 20px;
$numpad_background: #FF0000;
$button_background: #00FF00;
$numpad_border_radius: 30px;
$button_border_radius: 20px;
$number_size: ($numpad_width - 2*$element_base_margin)/3;

.numpad {
  background-color: $numpad_background;
  border-radius: $numpad_border_radius;
  width: $numpad_width;
  text-align: center;
  line-height: $number_size;
  padding: $element_base_margin;
  font-size: 4em;
}

.clear {
  background-color: $button_background;
  border-radius: $button_border_radius;
  min-height: $number_size;
}

.left_nest {
  padding: $element_base_margin $element_base_margin 0 0;
  float: left;
}

.middle_nest {
  padding: $element_base_margin $element_base_margin 0 0;
  float: left;
}

.right_nest {
  padding: $element_base_margin 0 0 0;
  float: left;
}

.number {
  background-color: $button_background;
  border-radius: $button_border_radius;
  height: $number_size;
  width: $number_size;
}

.dummy_div {
  clear: both;
}