$numpad_width: 340px;
$element_base_margin: 20px;
$numpad_background: #E6E6FA;
$button_background: #E6F2FF;
$numpad_border_radius: 30px;
$button_border_radius: 20px;
$number_size: ($numpad_width - 2*$element_base_margin - 21px)/3;
$font_size: 3em;

.numpad {
  background-color: $numpad_background;
  border-radius: $numpad_border_radius;
  width: $numpad_width;
  text-align: center;
  line-height: $number_size;
  padding: 0 $element_base_margin $element_base_margin $element_base_margin;
  float: left;
  font-size: $font_size;
  margin-right: $element_base_margin;
}

.left_nest {
  padding: $element_base_margin $element_base_margin 0 0;
  float: left;
}

.middle_nest {
  padding: $element_base_margin $element_base_margin 0 0;
  float: left;
}

.right_nest {
  padding: $element_base_margin 0 0 0;
  float: left;
}

.number, .clear, .backspace {
  background-color: $button_background;
  border-radius: $button_border_radius;
  height: $number_size;
  width: $number_size;
  .ui-button-text {
    padding: 0 !important;
    margin: auto !important;
    line-height: $number-size !important;
  }
}

.dummy_div {
  clear: both;
}

.group_name_terminal {
  width: 40%;
  height: 220px;
  border-radius: $numpad_border_radius;
  background: $numpad_background;
  padding: 10px;
  float: left;
  text-align: center;
}

.group_name_input_terminal {
  margin: {
    top: 30px;
  }
  font: {
    size: 40px;
  }
}

.group_name_label_terminal {
  margin: {
    top: 35px;
  }
  width: 100%;
  font: {
    family: Archangelsk;
    size: $font_size;
  }
}

.ui-menu-item {
  font-size: $font_size - 1em;
}

.back_terminal {
  background: {
    image: none;
  }
  margin: {
    bottom: 20px;
    top: 20px
  }
  height: 100px;
  width: 100%;
  font: {
    family: Archangelsk;
    size: 48px;
  }
}

#terminalhelp {
  clear: both;
  padding: 1em;
  margin: 2em 0 0;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  background-color: #F0F0F0;
  border-top-left-radius: $numpad_border_radius;
  z-index: -1;

  h1 {
    font-size: 20px;
  }

  .helpbox {
    float: left;
    width: 50%;
  }

  .helpcontent {
    margin: 0 0.5em;
  }
}