.login {
  margin-left: 35%;
  margin-top: 80px;
  align: center;
  padding: 30px;
  width: 30%;
  background-color: #E6E6FA;
  border-radius: 8px; }

#error {
  margin-bottom: 16px;
  padding: 5px;
  border: solid 3px #ff5050;
  background-color: #ffaaaa; }

.groups {
  height: 30px; }

.group_label {
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
  font-size: 14px; }

.group_info {
  float: left;
  text-decoration: none;
  color: #333;
  margin-right: 15px; }

.group_label .remove {
  float: left;
  text-decoration: none;
  color: #333;
  cursor: pointer; }
