.workspace {
  font-family: sans-serif;
  font-size: 12px;
  width: 100%; }

.grid {
  background-color: #E6F2FF;
  clear: both;
  margin-bottom: 5px;
  width: 100%; }
  .grid table {
    width: 100%;
    border-collapse: collapse; }
  .grid td {
    border-style: solid;
    border-width: thin;
    height: 30px; }
  .grid th {
    border-style: solid;
    border-width: thin; }

.plus {
  clear: left; }
