.workspace {
  font-family: sans-serif;
  font-size: 12px;
  width: 100%; }

.grid {
  background-color: #E6F2FF;
  clear: both;
  margin-bottom: 5px;
  overflow: hidden;
  width: 100%; }
  .grid td {
    border-collapse: collapse;
    border-color: #000000;
    border-width: 1px; }

.container {
  height: 50px;
  text-align: center; }

.plus {
  clear: left; }
