.widget {
  background: #c0c0c0;
}

.widget_title {
  height:15px;
  font:bold 12px/1em Liberation Sans;
  text-align:center;
}

.widget_content {
  height:40px;
  font:normal 12px/1em Liberation Sans;
  text-align:center;
  overflow:hidden;  
}

.widget_draggable {
  cursor:move;
}

.widget_ghost {
  height:49px;
  border: dashed #F00;
  position:inherit;      
}

