.workspace {
  font-family: sans-serif;
  font-size: 12px;
  width: 100%; }

#form {
  float: left;
  padding: 5px;
  border: 1px solid #000000;
  background-color: #e6e6fa; }

.closebutton {
  background-image: url("/images/close_16.ico");
  cursor: pointer;
  float: right;
  height: 16px;
  width: 16px; }

.grid {
  background-color: #e6e6fa;
  clear: both;
  margin-bottom: 5px;
  width: 100%; }
  .grid table {
    width: 100%;
    border-collapse: collapse; }
  .grid td {
    border-style: solid;
    border-width: thin;
    height: 68px;
    width: 7.7%; }
  .grid th {
    border-style: solid;
    border-width: thin;
    width: 7.7%; }

.receiver {
  -webkit-user-select: none;
  -moz-user-select: none;
  height: 100%;
  width: 100%; }

.hovered_receiver {
  background: #F00; }

.pair {
  font-family: sans-serif;
  font-size: 11px;
  cursor: move;
  background-color: #F5F9BD;
  height: 100%;
  width: 100%; }
  .pair .pair_content {
    float: left; }
  .pair .management_panel {
    float: right;
    clear: both;
    cursor: pointer;
    height: 16px; }
  .pair .management_panel div {
    display: inline;
    height: 16px;
    width: 16px; }

abbr {
  cursor: help; }

img {
  border: none; }

.timetable {
  background-color: #e6e6fa;
  clear: both;
  margin-bottom: 5px;
  width: 100%; }
  .timetable .nopair {
    background-color: #e6e6fa;
    height: 100%;
    width: 100%; }
  .timetable .error_pair {
    background-color: #FF0000;
    height: 100%;
    width: 100%; }
  .timetable table {
    width: 100%;
    border-collapse: collapse; }
  .timetable td {
    border-style: solid;
    border-width: thin;
    height: 68px;
    width: 7.7%; }
  .timetable th {
    width: 7.7%;
    border-style: solid;
    border-width: thin; }

.timetable.groups td {
  height: 68px; }

.daycell {
  width: 100%;
  height: 100%;
  background-color: #000; }
  .daycell td {
    border-collapse: collapse;
    border-style: solid;
    border-width: 0;
    height: 68px;
    width: 50%; }

.classrooms_sheet_head {
  margin-right: 15px; }

.classrooms_sheet_scrollable {
  height: 500px;
  overflow: auto; }

.classrooms_sheet_cell {
  height: 68px; }

.classrooms_sheet_cell_time {
  height: 10.714px;
  font-size: 9px; }

.busy {
  background-color: #ffaaaa; }

.empty {
  background-color: #aaffaa; }
