.workspace {
  font-family: sans-serif;
  font-size: 12px;
  width: 100%; }

.plus {
  clear: left; }

#form {
  float: left;
  padding: 5px;
  border: 1px solid #000000;
  background-color: #E6F2FF; }

.closebutton {
  float: right; }

.grid {
  background-color: #E6F2FF;
  clear: both;
  margin-bottom: 5px;
  width: 100%; }
  .grid table {
    width: 100%;
    border-collapse: collapse; }
  .grid td {
    border-style: solid;
    border-width: thin;
    height: 48px; }
  .grid th {
    border-style: solid;
    border-width: thin; }

.receiver {
  height: 100%;
  width: 100%; }

.hovered_receiver {
  background: #F00; }

.pair {
  cursor: move;
  background-color: #F5F9BD;
  height: 100%;
  width: 100%; }
  .pair .pair_content {
    float: left; }
  .pair .management_panel {
    float: right;
    width: 12px; }
    .pair .management_panel a {
      display: inline-block; }
    .pair .management_panel abbr {
      border-width: 1px;
      border-style: dashed;
      cursor: help; }

img {
  border: none; }
