@font-face {
  font-family: Archangelsk;
  src: url(/fonts/Archangelsk.ttf); }

@media print {
  .pdf_link {
    display: none; } }

.group_name {
  position: absolute;
  margin-left: 30%;
  width: 40%;
  margin-top: 40px;
  height: 220px;
  border-radius: 30px;
  background: #e6e6fa;
  padding: 10px;
  text-align: center; }

.group_name_label {
  margin-top: 70px;
  width: 100%;
  font-family: Archangelsk;
  font-size: 48px; }

.group_name_input {
  margin-top: 30px;
  font-size: 40px; }
