.timesheet {
    font-family: sans-serif;
    font-size: 15px;
}

.timediv, .sheetdiv, #plus {
    float: left;
    margin-left: 5px;
}

.timetable, .week {
    border-collapse: collapse;
    background-color: #E6F2FF;
}

th, tr, td {
    border: 1px solid #555555;
}

th {
    font-size: 15px;
    height: 30px;
}

.day {
  font-size: 20px;
  text-align: center;
  width: 1em;
}

.time {
    min-width: 100px;
    height: 3em;
    text-align: center;
}

#plus {
    height: 2em;
    width: 2em;
}