.timesheet {
    font-family: sans-serif;
    font-size: 15px;
}

.alldiv {
    float: left;
}

.timediv, .sheetdiv, .add_classroom, #plus, .form {
    float: left;
    margin-left: 5px;
}

.classdiv_top{
    border: 1px solid #555555;
    height: 33px;
    background-color: #E6F2FF;
    margin-left: 5px;
    margin-bottom: 5px;
}

.timetable{
    margin-top: 40px;
}

.timetable, .week, .sheet_class {
    border-collapse: collapse;
    background-color: #E6F2FF;
}

.week th{
    min-width: 120px;
    max-width: 120px;
}

th, tr, td {
    border: 1px solid #555555;
}

th {
    font-size: 15px;
    height: 30px;
}

.day {
  font-size: 20px;
  text-align: center;
  width: 1em;
}

.time {
    min-width: 100px;
    height: 3em;
    text-align: center;
}

#plus {
    height: 5px;
    width: 5px;
}

#adding_form {
    float: left;
    margin-top: 40px;
    border: 1px solid #555555;
    background-color: #E6F2FF;
}

#text {
    padding-top: 8px;
    font-weight: bold;
    float: left;
    width: 85%;
    text-align: center;
}

#sheet_closebutton {
    margin: 8px;
    float: right;
    height: 17px;
    width: 17px;
}

#form_closebutton {
    margin-top: 4px;
    margin-right: 4px;
    margin-left: 4px;
    clear: right;
    float: right;
    height: 17px;
}

.receiver {
    background-color: #ff0000;
    height: 100%;
    width: 100%
}

.drop {
    background-color: #00ff00;
    height: 100%;
    width: 100%
}