#page {
  font-family: 'Liberation Sans';
}

#page table {
  font-size: 12px;
}

#table{
}

#table th{
  font-size: 15px;
  background: #ADD8E6;
  height: 30px;
}

#table td{
  background: #ADD8E6;
}

#time {
  font-size: 15px;
  min-width: 100px;
  text-align: center;
  background: #ADD8E6; 
}

#widget_col { 
  width: 150px;
  background: #FAEBD7;
  text-align: center;
}

#day{
  text-align: center;
  width: 1em;
  line-height: 1em;
}