.numpad {
  background-color: #e6e6fa;
  border-radius: 30px;
  width: 340px;
  text-align: center;
  line-height: 93.667px;
  padding: 0 20px 20px 20px;
  float: left;
  font-size: 3em;
  margin-right: 20px; }

.left_nest {
  padding: 20px 20px 0 0;
  float: left; }

.middle_nest {
  padding: 20px 20px 0 0;
  float: left; }

.right_nest {
  padding: 20px 0 0 0;
  float: left; }

.number, .clear {
  background-color: #e6f2ff;
  border-radius: 20px;
  height: 93.667px;
  width: 93.667px; }
  .number .ui-button-text, .clear .ui-button-text {
    padding: 0 !important;
    margin: auto !important;
    line-height: 93.667px !important; }

.dummy_div {
  clear: both; }

.group_name_terminal {
  width: 40%;
  height: 220px;
  border-radius: 30px;
  background: #e6e6fa;
  padding: 10px;
  float: left;
  text-align: center; }

.group_name_input_terminal {
  margin-top: 30px;
  font-size: 40px; }

.group_name_label_terminal {
  margin-top: 35px;
  width: 100%;
  font-family: Archangelsk;
  font-size: 3em; }

.ui-menu-item {
  font-size: 2em; }

.back_terminal {
  background-image: none;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 100px;
  width: 100%;
  font-family: Archangelsk;
  font-size: 48px; }
