- if @pairs[day_counter + 1][time].empty?
  %tr
    %td{:colspan => 2, :rowspan => 2}
      .nopair
- first_week_pairs = @pairs[day_counter + 1][time][1]
- second_week_pairs = @pairs[day_counter + 1][time][2]
- if first_week_pairs.size > 1 || second_week_pairs.size > 1
  %tr
  %tr
- else
  %tr
  - if  