.group_name
  .group_name_label
    %label{:for => "group_name_input"}
      =  "Номер группы"
  .group_name_input_container
    %input{:class => "group_name_input", :id => "group_name_input"}
  %div
    %button{:type => "button"} Показать расписание