.workspace
  .groups
    = render :partial => '/editor/groups/group', :collection => @groups_list.groups
    - form_for :groups_list, :url => { :action => :create }, :_method => "post" do |f|
      = f.submit "Показать", { :id => "create_groups_list" }
  #form
    %p
      = 'Группа:'
      %br
      %input{:id => "group_name", :size => 10}
