.workspace
  .groups
    = render :partial => '/editor/groups/group', :collection => @groups_list.groups
  #form
    %p
      = 'Группа:'
      %br
      %input{:id => "group_name", :size => 10}
  - form_for :groups_list, :url => { :action => :create } do |f|
    = f.submit "Показать", { :id => "create_groups_list" }