.workspace
  .groups
    = render :partial => '/editor/groups/group', :collection => @groups_list.groups
    #create_groups_list
      = 'Показать'
  #form
    %p
      = 'Группа:'
      %br
      %input{:id => "group_name", :size => 10}