.grid
  %table
    %tr
      %th{:colspan => 13}
        = 'Аудитория'
    %tr
      %td
      = render :partial => 'day', :collection => @days
    %tr
      %td
      - 6.times do
        = render :partial => 'week', :collection => @weeks
    = render :partial => 'time', :collection => @times
    