- first_week_pairs = @pairs[day_counter][time][0]
- second_week_pairs = @pairs[day_counter][time][1]
%td
  - if first_week_pairs.empty? && second_week_pairs.empty?
    .nopair
  - else
    %table{:class => 'daycell'}
      %tr
        - if first_week_pairs.empty?
          %td{:colspan => 2}
            .nopair
        - elsif first_week_pairs.size > 2
          %td{:colspan => 2}
            .error_pair
        - elsif first_week_pairs.size == 2
          - first_week_pairs.each do |f|
            %td
              = render 'pair', :p => f
        - elsif first_week_pairs.size == 1
          - first_week_pairs.each do |f|
            %td{:colspan => 2}
              = render 'pair', :p => f
      %tr
        - if second_week_pairs.empty?
          %td{:colspan => 2}
            .nopair
        - elsif second_week_pairs.size > 2
          %td{:colspan => 2}
            .error_pair
        - elsif second_week_pairs.size == 2
          - second_week_pairs.each do |f|
            %td
              = render 'pair', :p => f
        - elsif second_week_pairs.size == 1
          - second_week_pairs.each do |f|
            %td{:colspan => 2}
              = render 'pair', :p => f